    <!-- 3Banner section -->
    <section id="home" class="banner_wrapper p-0">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url(/images/slider/slider4.1.png);">
            <div class="slide-caption text-center">
              <div>
                <h1 class="slider-title">welcome to UPCB</h1>
                <p>Co-operative banks have a leading role in providing short-term loans to the farmers of the state for the necessary resources for agricultural production – fertilizers, seeds etc... </p>
              </div>
            </div>
          </div>
          <!-- <div class="swiper-slide" style="background-image: url(/images/slider/slider1.jpeg);">
            <div class="slide-caption text-center">
              <div>
                <h1 class="slider-title">welcome to UPCB</h1>
                <p>Co-operative banks have a leading role in providing short-term loans to the farmers of the state for the necessary resources for agricultural production – fertilizers, seeds etc... </p>
              </div>
            </div>
          </div> -->
          <!-- <div class="swiper-slide" style="background-image: url(/images/slider/slider3.png);">
            <div class="slide-caption text-center">
              <div>
                <h1 class="slider-title">welcome to UPCB</h1>
                <p>Co-operative banks have a leading role in providing short-term loans to the farmers of the state for the necessary resources for agricultural production – fertilizers, seeds etc... </p>
              </div>
            </div>
          </div> -->
          <div class="swiper-slide" style="background-image: url(/images/slider/slider2.jpeg);">
            <div class="slide-caption text-center">
              <div>
                <h1 class="slider-title">welcome to UPCB</h1>
                <p>About 60 percent of the state's employment is available in the agriculture sector. While Uttar Pradesh has made remarkable progress in food grains on the one hand and has made green revolution, on the other hand it has also made commendable progress in potato and sugar production. </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url(/images/hel2.png); background-size: cover;">
            <div class="slide-caption text-center">
              <div>
                <h1 class="slider-title">welcome to UPCB</h1>
                <p>About 60 percent of the state's employment is available in the agriculture sector. While Uttar Pradesh has made remarkable progress in food grains on the one hand and has made green revolution, on the other hand it has also made commendable progress in potato and sugar production. </p>
              </div>
            </div>
          </div>
          <!-- <div class="swiper-slide" style="background-image: url(/images/build.png);">
            <div class="slide-caption text-center">
              <div>
                <h1 class="slider-title">welcome to UPCB</h1>
                <p>About 60 percent of the state's employment is available in the agriculture sector. While Uttar Pradesh has made remarkable progress in food grains on the one hand and has made green revolution, on the other hand it has also made commendable progress in potato and sugar production. </p>
              </div>
            </div>
          </div> -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="container small-menu">
        <div class="row flex-lg-row flex-column-reverse">
          <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4">
            <img decoding="async" src="/images/small-menu/up-cm.jpg" class="img-fluid mx-auto d-block" alt="up-cm">
          </div>
          <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4">
            <img decoding="async" src="/images/small-menu/minister-jp.jpg" class="img-fluid mx-auto d-block" alt="minister-jp">
          </div>

        </div>

      </div>
    </section>
    <!-- Banner section exit -->

    <!-- 4About section -->
    <section id="about" class="about_wrapper">
      <div class="container animate__animated animate__slideInLeft" style="animation-duration:5s">
        <div class="row flex-lg-row flex-column-reverse ">
          <div class="col-lg-7 text-center text-lg-start about_wrapper_content ">
            <h3>Welcome to <span>UTTAR PRADESH <br class="d-none d-lg-block">
                CO-OPERATIVE</span> BANK LTD.</h3>
            <p>Like the whole of India, the economic progress of Uttar Pradesh is also based on the development of agriculture. Despite huge development in commerce, trade and industry, the contribution of agriculture sector in the state's gross income is more than 35 percent. Agriculture continues to be the most widespread sector in terms of providing employment opportunities. About 60 percent of the state's employment is available in the agriculture sector. While Uttar Pradesh has made remarkable progress in food grains on the one hand and has made green revolution, on the other hand it has also made commendable progress in potato and sugar production. In the last years, huge progress has been made in the production of pulses/oilseeds in the state.</p>
            <p>Co-operative banks have a leading role in providing short-term loans to the farmers of the state for the necessary resources for agricultural production – fertilizers, seeds, agricultural protection chemicals/equipment, agricultural machinery, etc. and medium-term loans for the purposes of agriculture-based industry service and business.

            </p>

          </div>

          <div class="col-lg-5 mb-4 mb-lg-0 ps-lg-4 text-center " style="background-image: url('./images/News/Slider-bnr.jpg');  background-repeat: no-repeat;
                    background-size: 100% 100%;background-position: center;">
            <marquee class="marq" direction="up" scrollamount="3">
              <div     style="border: 1.5px solid black; padding: 8px;">
                <h5>Personal Loan EMI Calculator</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit <br>
                <a href="#" target="_blank">Read...</a>
              </p>
              </div>
              <hr>
              <div style="border: 1.5px solid black; padding: 8px;">
                <h5>EMI Calculator</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit <br>
                <a href="#" target="_blank">Read...</a>
                </p>
              </div>
            </marquee>
          </div>

        </div>
      </div>
    </section>
    <!-- About section exit -->

    <!-- Interest Calculator section -->
    <section id="about" class="Interest_wrapper">
      <div class="container">
        <div class="row flex-lg-row flex-column-reverse ">
          <div class="col-lg-6 text-center text-lg-start animate__animated animate__slideInLeft" style="background-color:#ffffff; border: 1px solid #f9f9f9; padding: 20px 30px;animation-duration:5s">
            <h3>Interest <span>Calculator <br class="d-none d-lg-block"></span></h3>
            <div class="row text-lg-start">
              <div class="col-lg-1" style="color:#FF5D00; ">
                <i class="fa-2x fas fa-arrow-circle-right"></i>
              </div>

              <div class="col-lg-11">
                <a href="pLoanCalculator.html">
                  <p class="p1">Personal Loan EMI Calculator</p>
                  <p class="p2">

                    Calculate your monthly installments
                </a></p>

              </div>
            </div>

            <div class="row text-lg-start div2">
              <div class="col-lg-1" style="color:#FF5D00;"><i class="fa-2x fas fa-arrow-circle-right"></i></div>
              <div class="col-lg-11">
                <a href="emiCalculator.html">
                  <p class="p1">Home Loan EMI Calculator</p>
                  <p class="p2">

                    Calculate your monthly installments
                </a></p>
              </div>
            </div>

            <div class="row text-lg-start div3">
              <div class="col-lg-1" style="color:  #FF5D00;"><i class="fa-2x fas fa-arrow-circle-right"></i></div>
              <div class="col-lg-11">
                <a href="interestCalculator.html">
                  <p class="p1">Bank FD/RD Calculator</p>
                  <p class="p2">
                    Calculate your monthly interest
                </a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 text-center text-lg-start" style=" border: 1px solid #f9f9f9; padding: 20px 30px;">
            <h3>Our <span>App<br class="d-none d-lg-block"></span></h3>
            <div class="row text-lg-start">


              <div align="center" class="col-lg-6 col-md-6 mb-4 animate__animated  animate__slideInDown" style="animation-duration:5s">
                <div class="card" style="width: 18rem;">

                  <div class="card-body">

                    <a href="https://play.google.com/store/apps/details?id=com.megasoftinfo.UPCB.easymbank" target="_blank" class="MpassbookLink">
                      <img src="/images/Apps/Mpassbook.webp" class="card-img-top" alt="..." height="180" width="100">
                      <h5 class="card-title mt-3">MPassbook</h5>
                    </a>


                  </div>
                </div>
              </div>


              <div align="center" class="col-lg-6 col-md-6 mb-4 animate__animated  animate__slideInDown" style="animation-duration:5s">
                <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <a href="https://play.google.com/store/apps/details?id=com.finacus.upb" target="_blank" class="mt-4 MobileAppLink">
                      <img src="/images/logo1.png" class="card-img-top" alt="..." height="180" width="100">
                      <h5 class="card-title mt-3">Mobile App</h5>
                    </a>


                  </div>
                </div>
              </div>

            </div>


          </div>


        </div>
      </div>
    </section>
    <!-- Interest Calculator section exit -->



    <!-- Our Services section /room-->
    <section id="services" class="Ourservices_wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 section-title text-center mb-3">
            <h3>Our <span>Services <br class="d-none d-lg-block"></span></h3>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-md-3 col-sm-6 mb-3 mb-lg-0">
            <div class="Ourservices-item">
              <img decoding="async" src="/images/services/ATM.jpg" class="img-fluid animate__animated animate__zoomIn" style="animation-duration:5s">
              <div class="Ourservices-item-wrap">
                <div class="Ourservices-content">
                  <h5 class="text-white mb-lg-3 text-decoration-underline">ATM</h5>
                  <p class="text-white">Automated Teller Machine</p>

                  <a class="main-btn border-white text-white " href="atms.html">Know More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-3 mb-lg-0">
            <div class="Ourservices-item">
              <img decoding="async" src="/images/upi.jpeg" class="img-fluid animate__animated animate__zoomIn" style="animation-duration:5s">
              <div class="Ourservices-item-wrap">
                <div class="Ourservices-content">
                  <h5 class="text-white mb-lg-3 text-decoration-underline">UPI</h5>
                  <p class="text-white">
                    Unified Payment Interface
                  </p>

                  <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-3 mb-lg-0">
            <div class="Ourservices-item">
              <img decoding="async" src="/images/services/neft.jpg" class="img-fluid animate__animated animate__zoomIn" style="animation-duration:5s">
              <div class="Ourservices-item-wrap">
                <div class="Ourservices-content">
                  <h5 class="text-white mb-lg-3 text-decoration-underline">NEFT</h5>
                  <p class="text-white">
                    National Electronic Funds Transfer
                  </p>
                  <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 mb-3 mb-lg-0">
            <div class="Ourservices-item">
              <img decoding="async" src="/images/services/rtgs.jpg" class="img-fluid animate__animated animate__zoomIn" style="animation-duration:5s">
              <div class="Ourservices-item-wrap">
                <div class="Ourservices-content">
                  <h5 class="text-white mb-lg-3 text-decoration-underline">RTGS</h5>
                  <p class="text-white">Real-time Gross Settlement</p>
                  <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Ourservices-link">
          <a href="ourservices.html">View more...</a>
        </div>
      </div>

    </section>
    <!-- Our Services Section Exit -->

    <section>
      <div class="counter mt-5">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-3 mb-lg-0 mb-md-0 mb-2">
              <h1>
                <span id="count1"></span>+
              </h1>
              <p>DCB</p>
            </div>
            <div class="col-md-3 mb-lg-0 mb-md-0 mb-2">
              <h1>
                <span id="count2"></span>+
              </h1>
              <p>BRANCHES</p>
            </div>
            <div class="col-md-3 mb-lg-0 mb-md-0 mb-2">
              <h1>
                <span id="count3"></span>+
              </h1>
              <p>BRANCHES OF UPCB</p>
            </div>
            <div class="col-md-3 mb-lg-0 mb-md-0 mb-2">
              <h1>
                <span id="count4"></span>+
              </h1>
              <p>NUMBER OF PACS</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ****************Our product start*************** -->

    <section class="ourproduct">
      <div class="container headings text-center">
        <div class="col-sm-12 text-center mb-5">
          <h3>Our <span>Products <br class="d-none d-lg-block"></span></h3>
        </div>


      </div>
      <div id="demo" class="carousel slide" data-ride="carousel">


        <!-- The slideshow -->
        <div class="carousel-inner container">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-12 mb-2">
                <div class="box" style=" text-align: center;
    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s;">
                  <a href="#"><img src="/images/fixed Deposit.png" class="img-fluid img-thumbnail animate__animated animate__bounceIn" style="animation-duration:10s;  width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;"></a>
                  <h6 style="padding-top: 20px;">Fixed & Recurring <br>Deposit</h6>
                  <p style="padding:10px 15px 0px;">Invest your money with UPCB for a tenure anywhere between 7 days to 5 years and earn interest over the deposited amount. As one of the most traditional </p>

                  <div style="padding-bottom: 20px;" class="main-btn1">
                    <a href="fixedDeposit.html" target="_blank" class="btn">Read More &#x27A4;</a>
                  </div>

                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-12 mb-2">
                <div class="box" style=" text-align: center;
    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s;">
                  <a href="#"><img src="/images/Bankacc.png" class="img-fluid img-thumbnail animate__animated animate__bounceIn" style="animation-duration:10s;  width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;"></a>
                  <h6 style="padding-top: 20px;">Accounts <br>(Saving and Current Account)</h6>
                  <p style="padding:10px 15px 0px;">A bank account is a financial account maintained by a bank or other financial institution in which the financial transactions between the bank and a customer are recorded.</p>

                  <div style="padding-bottom: 20px;" class="main-btn1">
                    <a href="accounts.html" target="_blank" class="btn">Read More &#x27A4;</a>
                  </div>

                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-12 mb-2">
                <div class="box" style=" text-align: center;
    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s;
    width: 355px;">
                  <a href="#"><img src="/images/services/loansnew.png" class="img-fluid img-thumbnail animate__animated animate__bounceIn" style="animation-duration:10s; width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;   "></a>
                  <h6 style="padding-top: 20px;">Loan and Advances</h6>
                  <p style="padding:7px 15px 0px;">
                    Loans should be shown in assets side of balance sheet separately. Advances are not loans. Advances are given for particular purposes against which either goods are to be received by company. </p>
                  <div style="padding-bottom: 15px;" class="main-btn1">
                    <a href="loans.html" target="_blank" class="btn">Read More &#x27A4;</a>
                  </div>

                </div>
              </div>



            </div>
          </div>


        </div>


      </div>

    </section>
    <!-- ****************Our product end*************** -->


    <!-- Pricing section -->
    <section id="blog" class="blog_wrapper pb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center mb-3">
            <h3>Beyond <span>Banking <br class="d-none d-lg-block"></span></h3>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12 mb-4 animate__animated animate__fadeInRight" style="animation-duration:5s;">
            <div class="card p-0 border-0 rounded-0">
              <img decoding="async" src="/images/beyb.png" alt="" style="height:400px">
              <div class="blog-content bg-white p-4">
                <h5 class="text-decoration-underline mb-4">Beyond Banking</h5>
                <h6>Target the poor | Education Program | Health Program | Employment to the Unemployed | Financial Literacy Program</h6>
                <p class="mt-2">Our CSR programs have transformed the lives of millions of underprivileged people
                </p>
                <div style="padding-bottom: 20px;" class="main-btn1">
                  <a href="Csrpro.html" target="_blank" class="btn">Read More &#x27A4;</a>
                </div>

                        </div>
                    </div>
                </div>
    
            </div>
    </section>
</div>
<!-- The social media icon bar -->
<div class="icon-bar">
    <ul >
       <li><a href="https://www.facebook.com/mdcellupcb/" target="_blank"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
       <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fmdcellupcb" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
       <li><a href="https://www.linkedin-in"><i class="fab fa-linkedin-in" target="_blank"></i><span>Linkedin</span></a></li>
       <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" target="_blank"></i><span>Instagram</span></a></li>
       <li><a href="https://www.youtube.com/channel/UCa6L7GjCGxxWmfCgYauJlSQ" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
       <li><a href="info@upcbl.in" target="_blank"><i class="fas fa-envelope"></i><span>Email</span></a></li>
    </ul>
</div>

   